// Mixins Here

.button() {
    color: white;
    background-color: black;
    font-size: 1.4rem;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
    align-self: center;
}