// Navigation code here

// Navigation Styles here

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    font-size: 3.8rem;
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 1.2rem;
    border-bottom: 2px dashed @nav-border;
    max-width: 300px;

    a {
        text-decoration: none;
        color: black;
    }
}
/*
@media @mobile {
    .nav-container {
        display: flex;
        flex-flow: column;
    }
}*/